# System level config
SSH_LOCKDOWN="no"
RESTART_INTERVAL=10		# Restart Kismet every 10 mins - Keep between 1 and 60 until updates

# WiFi Setup config - use your own WiFi to connect to Pi during install
# SETUP_WIFI_SSID="Your Own WiFi SSID Here"
# SETUP_WIFI_PASSWORD="Some_Secure_Password_Here"

# WiFi AP mode Config - Use your Pi as an AP for status monitoring during driving
# AP_SSID="WARPI"
# AP_PASSWORD="warpi"
# AP_CARD="wlan0"
AP_CIDR="10.13.37.0/24"
AP_ADDR="10.13.37.1"
AP_NETMASK="255.255.255.0"
# AP_GATEWAY="10.13.37.2"		# TODO - implement internet connection sharing
AP_DHCP_Range="10.13.37.10,10.13.37.100"

# WiFi Monitoring Card Config
ALFA_CARD="wlan0"

# GPS Device Configuration - Not currently required
# GPS_DEV="/dev/ttyUSB0"	# Default for most PnP USB GPS Dongles
GPS_DEV="/dev/ttyACM0"		# Default for 'Adafruit' Style USB connected GPS Dongles (GT-U7)


# ANSI color codes y0!
declare -A colors=(
[DEFAULT]=$'\e[0m'
[BOLD]=$'\e[1m'
[ITALIC]=$'\e[3m'
[UNDERLINE]=$'\e[4m'
[RED]=$'\e[0;91m'
[GREEN]=$'\e[0;92m'
[YELLOW]=$'\e[0;93m'
[BLUE]=$'\e[0;94m'
[MAGENTA]=$'\e[0;95m'
[CYAN]=$'\e[0;96m'
)
